.all-tasks {
  display: inline-grid;
  grid-auto-rows: 70px;
  grid-auto-columns: 500px;
  padding-top: 70px;
  justify-content: center;
  grid-column: 3/-1;
  background-color: var(--dark-black);
  position: relative;
  gap: 35px;
  overflow-y: scroll;
}
.view-container {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.view-border {
  display: flex;
  gap: 5px;
  padding: 2px;
  margin-right: 11%;
  position: relative;
}
.view-border:hover {
  border: 1px solid var(--light-soft);
  border-radius: 7px;
  cursor: pointer;
}
.view-option-container {
  position: absolute;
  top: 30px;
  left: -141px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-black);
  z-index: 2;
  border-radius: 10px;
  color: var(--dark-soft);
  box-shadow: 0px 0px 23px -2px #5c5950;
  transition: transform 300ms ease;
}
.view-option-container.hide{
  transform: scale(0);
}
.sort-container,
.group-container {
  display: flex;
  flex-direction: column;
}

.sort-option[selected = 't'],
.group-option[selected = 't']{
  background-color: var(--dark-soft);
  color: var(--dark-black);
}

h3.sort-option,
h3.group-option {
  padding: 10px;
  justify-content: space-around;
  display: flex;
  position: relative;
}

.view-option-container i.bx {
  position: absolute;
  left: 10px;
  color: var(--dark-soft);
}
.sort-option[selected = 't'] i.bx,
.group-option[selected = 't']  i.bx{
  color: var(--dark-black);
}
h3.sort-option:hover,
h3.group-option:hover {
  color: var(--dark-black);
  background: var(--meduim-soft);
}
h3.sort-option:active h3.group-option:active {
  color: var(--dark-black);
  border: 1px solid var(--dark-black);
}
h2.header{
  background-color: var(--dark-black);
  margin-bottom: 7px;
  color: var(--meduim-soft);
  padding: 7px;
}
.p-container {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
  position: relative;
  gap: 5px;
  background: var(--dark-soft);
  box-shadow: 0 0 0.5rem var(--meduim-soft);
  min-height: 50px;
  border-radius: 10px;
}
.task-first-line {
  display: flex;
  gap: 7px;
}
.labels-list {
  display: flex;
  gap: 7px;
}
.labels-list > .label {
  background: var(--light-soft);
  color: var(--dark-soft);
  border-radius: 7px;
  padding: 2px;
}
.p-title {
  font-weight: bold;
  font-size: large;
  align-self: center;
  color: var(--dark-black);
}
.tdate{
  margin-left: 2rem;
  display: inline-flex;
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem;
  font-weight: 600;
  background-color: var(--dark-black);
}
.p-name {
  position: absolute;
  bottom: 7px;
  right: 7px;
  color: var(--dark-black);
}
h2.priority-header{
  padding-bottom: 25px;
}
@media (max-width: 700px) {
  .all-tasks {
    grid-auto-rows: 64px;
    grid-auto-columns: 400px;
    padding-top: 40px;
  }
  .view-option-container {
    width: 170px;
  }
/*   h3.sort-option {
    font-size: medium;
  }
  h2.header {
    font-size: medium;
  } */
}
@media (max-width: 550px) {

  .all-tasks {
    grid-auto-rows: 59px;
    grid-auto-columns: 282px;
    padding-top: 40px;
  }
  .p-title {
    font-weight: bold;
    font-size: medium;
    align-self: center;
    color: var(--dark-black);
  }
  .p-name {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-size: small;
  }
}
@media (max-width: 380px) {
  .all-tasks {
    grid-auto-rows: 40px;
    grid-auto-columns: 192px;
    padding-top: 40px;
  }
  .p-name {
    position: absolute;
    bottom: 7px;
    right: 7px;
  }

}
