.all-tasks{
    display: inline-grid;
    grid-auto-rows: 70px;
    grid-auto-columns: 500px;
    padding-top: 50px;
    justify-content: center;
    grid-column: 3/-1;
    background-color: var(--light-grey);
}
.p-container{
    display: flex;
    padding: 7px;
    outline: 1px dashed var(--meduim-grey);
    position: relative;
    gap: 5px;
}

.p-title{
    font-weight: bold;
    font-size: large;
    align-self: center;
    color: var(--meduim-grey);
}
.p-name{
    position: absolute;
    bottom: 7px;
    right: 7px; 
}
@media  (max-width: 700px) {
    .all-tasks{
        display: inline-grid;
        grid-auto-rows: 64px;
        grid-auto-columns: 400px;
        padding-top: 40px;
        justify-content: center;
        grid-column: 3/-1;
        background-color: var(--light-grey);
    }
}
@media  (max-width: 550px) {
    .all-tasks{
        display: inline-grid;
        grid-auto-rows: 59px;
        grid-auto-columns: 282px;
        padding-top: 40px;
        justify-content: center;
        grid-column: 3/-1;
        background-color: var(--light-grey);
    }
    .p-title{
        font-weight: bold;
        font-size: medium;
        align-self: center;
        color: var(--meduim-grey);
    }
    .p-name{
        position: absolute;
        bottom: 7px;
        right: 7px; 
        font-size: small;
    }
}
@media  (max-width: 380px) {
    .all-tasks{
        display: inline-grid;
        grid-auto-rows: 40px;
        grid-auto-columns: 192px;
        padding-top: 40px;
        justify-content: center;
        grid-column: 3/-1;
        background-color: var(--light-grey);
    }
    .p-title{
        font-weight: bold;
        font-size: small;
        align-self: center;
        color: var(--meduim-grey);
    }
    .p-name{
        position: absolute;
        bottom: 7px;
        right: 7px; 
        font-size: x-small;
    }
}