.main-header{
  grid-column: 1/-1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
  background-color: var(--dark-black);
  border-bottom: 0.1rem solid var(--dark-soft);
}
.header-title-container{   
  display: flex;
  gap: 80px;   
  font-size: 26px;
  font-weight: bolder;
}
.header-text{
  color: var(--dark-soft);
}
.add-task-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-soft);
  padding: 0.3rem;
  border-radius: 50%;
  font-size: 1.1rem;
  color: var(--dark-black);
  cursor: pointer;
}