.sidetrack{
    grid-column: 1/span 2;
    background-color: var(--dark-black);
    display: grid;
    justify-content: center;
}
.all-projects{
    display: grid;
    grid-auto-rows: 35px;
    grid-auto-columns: 220px;
    padding-top: 50px;
}

.Inbox , .projects{
    font-weight: bold;
    color: var(--dark-soft);
}
.projects-container{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.projects-container > .new-project{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--dark-soft);
}
.projects > .project{
    padding-left: 15px;
    color: var(--dark-soft);
    padding: 15px;
}
@media (max-width: 910px){
    .all-projects{
        display: grid;
        grid-auto-rows: 24px;
        grid-auto-columns: 189px;
        padding-top: 50px;
    }
}
@media (max-width: 650px){
    .all-projects{
        display: grid;
        grid-auto-rows: 20px;
        grid-auto-columns: 112px;
        padding-top: 50px;
    }
    .projects > .project{
        padding-left: 15px;
        color: var(--light-soft);
        font-size: smaller;
    }
    .Inbox , .projects{
        font-weight: bold;
        font-size: small;
    }
}
@media (max-width: 455px){
    .all-projects{
        display: grid;
        grid-auto-rows: 20px;
        grid-auto-columns: 78px;
        padding-top: 50px;
    }
    .projects > .project{
        padding-left: 15px;
        color: var(--light-soft);
        font-size: x-small;
    }
    .Inbox , .projects{
        font-weight: bold;
        color: var(--dark-soft);
        font-size: smaller;
    }
}