.sidetrack{
    grid-column: 1/span 2;
    background-color: var(--dark-black);
    display: grid;
    justify-content: center;
    border-right: 0.1rem solid var(--dark-soft);
}
.all-projects{
    display: grid;
    grid-auto-rows: 35px;
    grid-auto-columns: 220px;
    padding-top: 50px;
}

.Inbox , .projects{
    font-weight: bold;
    color: var(--dark-soft);
    border-bottom: 0.1rem solid var(--dark-soft);
}
.projects-container{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-bottom: 2rem;
}
.projects-container > .new-project{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-soft);
    padding: 0.2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--dark-black);
    cursor: pointer;
}
.projects > .project{
    color: var(--dark-soft);
    padding-bottom: 2rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    border-left: 1px solid;
}
.projects > .project:last-child{
    padding-bottom: 0;
}
@media (max-width: 910px){
    .all-projects{
        display: grid;
        grid-auto-rows: 24px;
        grid-auto-columns: 189px;
        padding-top: 50px;
    }
}
@media (max-width: 650px){
    .all-projects{
        display: grid;
        grid-auto-rows: 20px;
        grid-auto-columns: 112px;
        padding-top: 50px;
    }
    .projects > .project{
        padding-left: 15px;
        /* font-size: smaller; */
    }
    .Inbox , .projects{
        font-weight: bold;
        /* font-size: small; */
    }
}
@media (max-width: 455px){
    .all-projects{
        display: grid;
        grid-auto-rows: 20px;
        grid-auto-columns: 78px;
        padding-top: 50px;
    }
    .projects > .project{
        padding-left: 15px;
    }
    .Inbox , .projects{
        font-weight: bold;
    }
}